
<h3 class="welcome-message">Wood Pictures</h3>

<div class="category container">
  
<%@info.wood_pics.each do |img|%>
  <div class="collection-of-images">
  <%=image_tag img.service.send(:object_for, img.key).public_url, class:'header-img'%>
   <%= link_to 'Remove', delete_image_attachment_collections_wood_url(img.signed_id),
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>
  </div>
  
  <%=form_for Description.find_by(image_id: img.blob_id) do |f| %>
      <%=f.label :image_description %>
      <%=f.text_field :content, class:"form-control" %>
      <%=f.hidden_field :image_id, class:"form-control", value: img.blob_id %>
            <%=f.hidden_field :redirect, class:"form-control", value: 'wood' %>
      <br>
      <%=f.submit "Update Image Description", class:"btn btn-warning", onclick: "loader();"%>
    <%end%>
  <%end%>
    <br><br><hr>

    <%=form_for @info do |f| %>
      <%= f.label :upload_project_images %>
      <%=f.file_field :wood_pics, accept: 'image/png,image/gif,image/jpeg', multiple:true, class:"form-control" %>
      <br>
      <%=f.submit "Update Wood Images", class:"btn btn-primary btn", onclick: "loader();"%>
    <%end%>
</div>
