
<h3 id="welcome-message">Header</h3>
<div class="category container">

<%if @info.about_img.attached?%>
  <%=image_tag @info.header_img.service.send(:object_for, @info.header_img.key).public_url, class:'header-img' %>
<%else%>
  <h4>No Image Attached Yet</h4>
<%end%>
  <%=form_for @info, local: true do |f| %>
    <%= f.label :header_image_file_upload %>
    <%=f.file_field :header_image, accept: 'image/png,image/gif,image/jpeg' , class:"form-control" %>
    <br>
    <%= f.label :header_text %>
    <%=f.text_field :header_text, class:"form-control" %>
    <br>
    <%=f.submit "Update Headers", class:"btn btn-primary btn"%>
  <%end%>
</div>
